<!doctype html>
<html class="no-js">

<% include ../public/partials/head %>

<body class="body">
  <div class="preloader">
      <div class="preloader_img">
        <img src="/public/img/loader.gif" alt="loading...">
      </div>
  </div>
<div class="bg-dark" id="wrap">
    <div id="top">
      <% include ../public/partials/nav %>
    </div>
    <!-- /#top -->

    <div class="wrapper">
        <div id="content" class="bg-container">
            <header class="head">
                <div class="main-bar row">
                    <div class="col-sm-5 col-lg-6 skin_txt">
                        <h4 class="nav_top_align">
                            <i class="fa fa-th"></i>
                            Daily In&Out / ICTRAN Report
                        </h4>
                    </div>
                    <div class="col-sm-7 col-lg-6">
                        <ol class="breadcrumb float-xs-right nav_breadcrumb_top_align">
                            <li class="breadcrumb-item">
                                <a href="#">
                                    <i class="fa fa-home" data-pack="default" data-tags=""></i> Main
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#">Reports</a>
                            </li>
                            <li class="active breadcrumb-item">Daily In&Out / ICTRAN Report</li>
                        </ol>
                    </div>
                </div>
            </header>
            <div class="outer">
                <div class="inner bg-container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
									<div class="card-header">
										<div class="col-lg-6">
                                            <h3>Table: <%=page_title%></h4>
											<span>Select Date Range:</span>
                                                <input type="text" id="datepickerFrom" name="dateFrom" class="" style="display: block; width:150px;" placeholder="FROM">
                                            <input type="text" id="datepickerTo" name="dateTo" class="" style="display: block; width:150px;" placeholder="TO">
										</div>
										<div class="col-lg-6" align="right">
											<button type="button" id="btnSrch" class="btn btn-warning" style="font-size: 12px;width: 30%;">Search</button>
                                        </div>
                                    </div>
                                    <div class="card-block" style="max-height: 500px; overflow-y: scroll;">
                                        <div class="table-responsive m-t-5">
                                            <div class="loading_img" id="loading">
                                                <img src="/public/img/loader.gif" style=" width: 50px;" alt="loading...">
                                            </div>
                                            <table class="table table-striped table-bordered">
                                                <thead>
                                                <tr>
                                                    <th>No.</th>
                                                    <th>DT</th>
	                                                <th>LOC</th>
                                                    <th>SKU</th>
				                                    <th>POQTY`</th>
                                                    <th>SOQTY</th>
                                                    <th>L2QTY</th>
                                                    <th>LQTY</th>
                                                    <th>ADJQTY</th>
                                                    <th>CALQTY</th>
                                                    <th>DFQTY</th>
                                                    <th>CHK</th>
                                                    <th>GEN_DT</th>
                                                </tr>
                                                </thead>
                                                <tbody id="dataTable" class="pointer">
                                                    <% if (data) {
                                                      for (var i=0; i < data.length; i++) { 
                                                        var row=data[i];  %>
                                                      <tr>
                                                        <td><%=i+1%></td>
                                                        <td><%=moment(row.DT).format('YYYY-MM-DD')%></td>
                                                        <td><%=row.LOC%></td>
                                                        <td><%=row.ITEMNO%></td>
                                                        <td><%=row.POQTY%></td>
                                                        <td><%=row.SOQTY%></td>
                                                        <td><%=row.L2QTY%></td>
                                                        <td><%=row.LQTY%></td>
                                                        <td><%=row.ADJQTY%></td>
                                                        <td><%=row.CALQTY%></td>
                                                        <td><%=row.DFQTY%></td>
                                                        <td><%=row.CHK%></td>
                                                        <td><%=moment(row.GEN_DT).format('YYYY-MM-DD HH:mm:ss')%></td>
                                                      </tr>
                                                      <% }
                                                    } else { %>
                                                      <tr>
                                                        <td>No data</td>
                                                      </tr>
                                                    <% } %>
												<!-- data Area-->
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="padding-top: 25px;">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-header">
                                        <div class="col-lg-6">
                                            <h3>Table:
                                                <%=page_title%>
                                                    </h4>
                                                    <span>Select Date Range:</span>
                                                    <input type="text" id="datepickerFrom" name="dateFrom" class="" style="display: block; width:150px;" placeholder="FROM">
                                                    <input type="text" id="datepickerTo" name="dateTo" class="" style="display: block; width:150px;" placeholder="TO">
                                        </div>
                                        <div class="col-lg-6" align="right">
                                            <button type="button" id="btnSrch" class="btn btn-warning" style="font-size: 12px;width: 30%;">Search</button>
                                        </div>
                                    </div>
                                    <div class="card-block" style="max-height: 500px; overflow-y: scroll;">
                                        <div class="table-responsive m-t-5">
                                            <div class="loading_img" id="loading">
                                                <img src="/public/img/loader.gif" style=" width: 50px;" alt="loading...">
                                            </div>
                                            <table class="table table-striped table-bordered">
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.inner -->
                </div>
                <!-- /.outer -->
                <% include ../public/partials/modals %>

                </div>
                <!-- /.inner -->
            </div>
            <!-- /.outer -->
              <div id="alert">
                <!-- Modal -->
                <div class="modal fade" id="search_modal" tabindex="-1" role="dialog"
                     aria-hidden="true">
                    <form>
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                <div class="input-group search_bar_small">
                                    <input type="text" class="form-control" placeholder="Search..." name="search">
                                    <span class="input-group-btn">
                                      <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
              </div>
                <!-- /.inner -->
            </div>
            <!-- /.outer -->

        <!-- /#content -->
        <!-- Modal -->
        <div class="modal fade" id="search_modal" tabindex="-1" role="dialog"  aria-hidden="true">
            <form>
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        <div class="input-group search_bar_small">
                            <input type="text" class="form-control" placeholder="Search..." name="search">
                            <span class="input-group-btn">
        <button class="btn btn-secondary" type="submit"><i class="fa fa-search"></i></button>
      </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    <!-- /#content -->
</div>
<!-- /#wrap -->

<% include ../public/partials/scripts %>

</body>

</html>
